<div class="section" id="certificates">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Certificates</div>

        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

            <ng-container *ngFor="let certificate of certificates| paginate: config">
                        <div style="display: flex; justify-content: center;">
                            <img class="card-img-top" src={{certificate.imgUrl}} onerror="this.src = 'assets/images/gif.gif'" alt="Certificates" style="width:60%; height: auto;">
                        </div>
            </ng-container>

        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>
