<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/background_image.jpg');">
      </div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#">
              <img src="assets/images/profile_image.jpg" alt="Image" />
            </a>
          </div>
          <h1 class="h2 title">Sumanth M J</h1>
          <p class="category text-white">Senior Software Engineer</p>
          <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Hire Me</a>
          <a class="btn btn-primary" href={{cvUrl}} target="_blank" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/sumanthmj"
              target="_blank">
              <img src='assets/images/LinkedIn.png'>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/Sumanthmj"
              target="_blank">
              <img src='assets/images/Git hub.png'>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon"
              href="https://www.facebook.com/sumanth.mj.37?mibextid=ZbWKwL" target="_blank">
              <img src='assets/images/facebook.png'>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/mj.sumanth/" target="_blank">
              <img src='assets/images/instagram.jpg'>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
